<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="plugins/element-ui/css/index.css">
</head>
<body>
	<div id="app">
		<p v-for="item in date">
			<el-date-picker
                          v-model="item.value"
                          type="datetime"
                          :picker-options="pickerOptions"
                          placeholder="选择日期时间">
                        </el-date-picker>
		</p>
	</div>
	<script src='framsworks/vue/vue.min.js'></script>
  <script src="plugins/element-ui/js/index.js"></script>
  <script>
  	new Vue({
  		el: '#app',
  		data: {
  			date: [
  				{
  					value:''
  				},
  				{
  					value:""
  				}
  			],
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() > Date.now() 
          }
        },
  		},
      mounted(){
        setInterval( () => {
          this.date.unshift({value: new Date('2018-01-27 22:53:50')})
        }, 3000)
      }
  	})
  </script>
</body>
</html>