<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>收费系统</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="plugins/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="styles/car_select.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <div id="app" v-cloak>
    <el-dialog :visible="visible" title="收费员登录  ">
          <el-form ref="form" :model="form" label-width="80px" :rules="rules">
        <el-form-item label="用户名" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="form.password" type="password"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">立即登录</el-button>
          <el-button @click="visible = false">取消</el-button>
        </el-form-item>
      </el-form>
      </el-dialog>
    <header class="headers">
      <div class="header_inline">
        <div class="left">
              <div class="admin_inline">
                <img src="images/logog_01.png">
                <img src="images/admin-icon_02.png">
                <span class="account">{{username}} 本次登录时间 {{loginTime}}</span>
              </div>
            </div>
        <div class="right" @click="changeShift">
              <img src="images/huanban.png">
              换班
            </div>
      </div>
    </header>
    <div class="app_body">

      <div class="top">
        <div class="charg_detail" :class="{'open': charge_detail}">
              <span @click="ExpandDetail">收费详情 <i></i></span>
            </div>
        <div  v-if="charge_detail">
          <div class="item green">
              <i class="icon"></i>
              <div class="charge_right">
                <p>收费金额总额</p>
                <h1>{{total.total_amount}}</h1>
              </div>
            </div>
            <div class="item blue">
              <i class="icon"></i>
              <div class="charge_right">
                <p>收费金额总额</p>
                <h1>{{total.online}}</h1>
              </div>
            </div>
            <div class="item yellow">
              <i class="icon"></i>
              <div class="charge_right">
                <p>收费金额总额</p>
                <h1>{{total.offline}}</h1>
              </div>
            </div>
            <div class="item orange">
              <i class="icon"></i>
              <div class="charge_right">
                <p>查看收费详情</p>
              </div>
            </div>
        </div>
      </div>
      <div class="bottom">
        <div class="left">
          <div class="panel_tips">
            入场信息-最近一次未确认的入场记录
          </div>
          <div class="panel layui-form">
            <div class="in_car_imgbox">
              <span v-if="car_in.picture">
                  <img class="carimg" v-if="switch_car" :src="car_in.picture">
                  <img class="carimg" v-else :src="car_in.closeup_pic">
                  <button class="switch_car" @click="switch_car_handle">{{switch_car ? '全景' : '车牌号'}}</button>
              </span>
              <img v-else class="carimg default" src="images/default_in_car.png">
            </div>
            <div class="car_in_times">
              入场时间：
              <span>{{car_in.time}}</span>
            </div>
            <div class="group">
              <p>识别的车牌号码</p>
              <car-select :data="car_in.carNum"></car-select>
            </div>
            <div class="group">
              <p>车辆类型</p>
              <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                  <option value="0">越期约租车</option>
                  <option value="1">特殊车辆</option>
                </select>
                </div>
            </div>
            <div class="group">
              <button class="confirm" @click="carConfirmEnter" :disabled="carInConfirmBtnDisabled">确认</button>
            </div>
          </div>

          <div class="panel">
            <div class="panel_head panel_in">入场列表</div>
            <div class="panel_body car_in_list">
                    <div class="no_in_car" v-if="alreadyEntered.length == 0"> 暂无入场车辆</div>
              <div class="enter_item clear_both" v-for="item in alreadyEntered">
                <div class="enter_num">{{item.num}}</div>
                <div class="enter_time">{{item.time}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="plate_container " >
            <div v-if="car_out.length == 0" class="no_out_car">

              <div>暂无车辆出场</div>
            </div>
            <transition-group v-else name="list-complete" tag="p">

              <div  class="plate_item list-complete-item" v-for="(item, index) in car_out" v-bind:key="item">
                <div class="toptips">车辆出场信息</div>
                <div class="plate_item_container">
                  <div class="vehicle_image">
                    <img v-if="item.picture" :src="item.picture">
                    <img v-else class="default_in_car" src="images/default_in_car.png">
                    <div class="Bupai" v-if="!item.isConfirm">
                      <img class="camera" src="images/camera.png">
                      <span>补拍</span>
                      <img src="images/dianji.png">
                    </div>
                  </div>
                  <div class="plate_vehicle_info">
                    <div class="vehicle_number" >
                      <label><i></i>车牌号码</label>

                      <span  class="plate_readonly" v-if="item.isConfirm">{{item.carNum}}</span>
                      <div v-else class="plate_vehicle_modify" v-outside="closeCarSelectPanel" >
                        <car-select :data="item.carNum" @selected="outCarComfirmed"></car-select>
                      </div>

                    </div>
                    <div class="time">
                      <label><i></i>入场时间</label>
                      <div class="time_text">
                        <span v-if="item.isConfirm" class="time_readonly" >{{item.intime}}</span>
                        <input v-else class="time_input" id="time-edit" type=""  name="" :value="item.intime" >
                      </div>
                    </div>
                    <div class="time">
                      <label><i></i>出场时间</label>
                      <div class="time_text">
                        <span v-if="item.isConfirm" class="time_readonly">{{item.outtime}}</span>
                        <input v-else type="" name="" readonly :value="item.outtime" class="time_input">
                      </div>
                    </div>
                  </div>
                  <div class="operation_bar">
                    <div class="pay_text">交费情况</div>
                    <div class="pay_status">{{item.tip}}</div>
                    <div class="pay_price">
                      <b>￥</b>{{item.money}}
                    </div>
                    <div class="btn_group" v-if="!item.isConfirm">
                      <button class="button confirm" :disabled="item.disabled" @click="carConfirmed(index)">确认</button>
                      <button class="button special" :disabled="item.disabled" @click="specialToCharges(index)">特殊情况收费</button>
                    </div>

                    <img v-if="item.payway == 'alipay' " class="payway" src="images/zhifubao.png">
                    <img v-else-if="item.payway == 'weixin' " class="payway" src="images/weixin.png">
                    <img v-else-if="item.payway == 'cqwallet' " class="payway" src="images/shimintong.png">
                    <img v-else-if="item.payway == 'wallet' " class="payway" src="images/yue.png">
                    <img v-else-if="item.payway == '' " class="payway" src="images/xianjin.png">
                  </div>


                  <!-- 特殊情况收费 -->
                  <div class="special_charge" v-if="item.special">
                    <div class="form_horizontal layui-form">
                      <div class="form_group">
                        <div class="form_label">点选原因</div>
                        <div class="form_select_container">
                          <div class="layui-input-block">
                              <select name="interest" lay-filter="aihao">
                                <option value="0">越期约租车</option>
                                <option value="1">特殊车辆</option>
                              </select>
                            </div>
                        </div>
                      </div>
                      <div class="form_group">
                        <div class="form_label">实收金额</div>
                        <div class="form_select_container">
                          <div class="form_input_container">
                            <i class="currency">￥</i>
                            <input class="form_input" type="" name="">
                          </div>
                        </div>
                      </div>
                      <div class="form_group">
                        <div class="button_group">
                          <div class="button_column">
                            <button class="button button-cancel" @click="specialCancel(index)">取消</button>
                          </div>
                          <div class="button_column">
                            <button class="button button-confirm" @click="specialConfirm(index)">确认</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </transition-group>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src='framsworks/jquery/jquery.min.js'></script>
  <script src='framsworks/axios/axios.min.js'></script>
  <script src='plugins/layui/layui.js'></script>
  <script src='framsworks/vue/vue.min.js'></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>


  <script src="scripts/car_select.js"></script>
  <script src='scripts/main.js'></script>

  <script>

    const {ipcRenderer} = require('electron')
    const updateOnlineStatus = () => {
      ipcRenderer.send('online-status-changed', navigator.onLine ? 'online' : 'offline')
    }

    window.addEventListener('online',  updateOnlineStatus)
    window.addEventListener('offline',  updateOnlineStatus)

    updateOnlineStatus()
  </script>
</body>
</html>
